<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Homepage{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div>
            <label for="search">Searching a User: </label>
            <form action="/result" method="get">
                <input id="search" placeholder='Search for a user' required name="word">
                <button>Search</button>
            </form>
        </div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
        <div class="container">
            <a href="/register">Register</a>
            <a href="#">Change Clearance</a>
            <a href="#">Change PW</a>
            <a href="#">Change User Info</a>
        </div>

    </body>
</html>