<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>USER MANAGEMENT</title>
    </head>
    <body>
      <h1>Register your personal information</h1>
      <div class="container">
        <form class="formset" action="/result" method="get">
          <label>User ID: </label>
          <input name="userid" type="text" placeholder="" required>
          <label>Password: </label>
          <input name="userpw" type="password" placeholder="" required>
          <label>User Name: </label>
          <input name="username" type="text" placeholder="" required>
          <label>User Email: </label>
          <input name="useremail" type="email" placeholder="" required>
          <label>User Phone Number: </label>
          <input name="phonenum" type="text" placeholder="" required>
          <button>Submit</button>

        </form>
      </div>
    </body>
</html>

