<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>USER MANAGEMENT</title>
    </head>
    <body>
      <h1>Register your personal information</h1>
      <div class="container">
        <form class="formset" action="/list" method="get">
          <label>User ID: {{}}</label>

          <select name="rank">What is your clearance?
            <option value="admin">Admin</option>
            <option value="staff">Staff</option>
            <option value="visitor">Visitor</option>
          </select>
          <button>Submit</button>

        </form>
      </div>
    </body>
</html>

