<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>USER MANAGEMENT</title>
    </head>
    <body>
      <h1>Register your personal information</h1>
      <div class="container">
        <form class="formset" action="/result" method="get">
          <label>Old Password: </label>
          <input name="userid" type="text" placeholder="Enter the old password" required>
          <label>New Password: </label>
          <input name="userid" type="text" placeholder="Enter the new password" required>
          <button>Submit</button>

        </form>
      </div>
    </body>
</html>

