{% extends 'base.html' %}
{% block content %}
<table style="width:100%">
    <tr>
        <th>checkbox</th>
        <th>ID</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>PHONE NUMBER</th>
        <th>CLEARANCE</th>
    </tr>
    <tr>
        {% for user in users %}
            <td><input type="radio" name="checkbox" value="selected"></td>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.cl}}</td>
        {% endfor %}
    </tr>
</table>
{% endblock %}